* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    background: black;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.manual {
    color: white;
}